body {
    margin: 0 0;
    box-sizing: border-box;
}

header h1 {
    margin-left: 124px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 43px;
    font-weight: 300;
    line-height: 50px;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}

.coin-wrapper {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    /* max-width: 360px; */
    display: flex;
    /* justify-content: space-between; */
    width: 50%;
    min-width: 550px;
}

.coin-image-wrapper {
    position: relative;
}

.coin-image {
    max-width: 172px;
    max-height: 172px;
    min-width: 50px;
    min-height: 50px;
}

.coin-discount {
    position: absolute;
    background-color: #833AE0;
    /* width: 10%;
    height: 10%; */
    color: white;
    border-radius: 100%;
    bottom: 70%;
    left: 60%;
    /* padding: 10%; */
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width: 44px;
    height: 44px;

    display: flex;
    justify-content: space-between;
}

.coin-discount div {
    margin: auto auto;
}

.coin-info {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
    width: 65%;
}

.coin-description {
    max-width: 360px;
}

.coin-description h3 a{
    /* color: #833AE0; */
    color: #833ae0;

    
}

.coin-description-header a {
    text-decoration: none;
}

.coin-description p {
    /* border: 1px solid red; */
    font-size: 16px;
    line-height: 19px;
    /* width: 80%; */
    /* width: 80%; */
}



.coin-price {
    margin-left: auto;
    /* margin-right: auto; */
    color: black;
    font-weight: bold;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 25%;
}

.coin-price p:last-child {
    color: #7c7c7c;
    font-size: 75%;
}

/* ### description start ### */

article {
    margin: 0 160px;
    display: flex;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    min-width: 600px;
}

.icon-img {
   width: 50%;
   overflow: hidden;
   /* min-width: 500px; */
   position: relative;
}

.icon-img div img {
    margin-top: 150px;
    width: 100%;
}

.obverse {
    width: 80%;
}
 
.reverse {
    width: 80%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

/* 
.icon-img .obverse:hover + .reverse {
    display: block;
}  
*/

.icon-img:hover .reverse {
    display: block;
}

.icon-info {
    margin-top: 20px;
    background-color: rgba(196, 196, 196, 0.5);
    width: 40%;
    /* min-width: 400px; */
    padding: 12px 44px 39px 47px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.icon-info-article {
    color: #7a7a7a;
}

.icon-info p {
    margin-top: 10%;
}

.price-header { 
    color: #7a7a7a;
    font-size: 75%;
}

.price {
    font-weight: bold;
    color: black;
    font-size: 200%;
}

table {
    margin-top: 5%;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}


td {
    padding: 5px;
    font-size: 10px;
}

tr td:first-child {
    border-right: 1px solid #cac6c6;
}

tr {
    border-bottom: 1px solid #cac6c6;
}

tr:last-child {
    border-bottom: 0px solid #cac6c6;
}

tr:nth-child(2n-1) {
    background-color: #ffffff;
}

.icon-info a {
    display: block;
    color: #8f4fe0;
    margin-top: 100px;
}

.icon-info p {
    font-size: 14px;
    line-height: 125.5%;
}

.icon-info h1 {
    font-size: 28px;
    line-height: 33px;
    font-weight: bold;
    font-style: normal;
}